@font-face {
    font-family: "iconfont"; /* Project id 4980213 */
    src: url('//at.alicdn.com/t/c/font_4980213_wzmscf78k99.woff2?t=1755827466566') format('woff2'),
    url('//at.alicdn.com/t/c/font_4980213_wzmscf78k99.woff?t=1755827466566') format('woff'),
    url('//at.alicdn.com/t/c/font_4980213_wzmscf78k99.ttf?t=1755827466566') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sort:before {
    content: "\e62a";
}

.icon-arrow-up-filling:before {
    content: "\e688";
}

.icon-arrow-down-filling:before {
    content: "\e68e";
}

.icon-arrow-left-filling:before {
    content: "\e68f";
}

.icon-arrow-right-filling:before {
    content: "\e690";
}

.icon-love-filling:before {
    content: "\e667";
}

.icon-comment-filling:before {
    content: "\e68d";
}

.icon-error:before {
    content: "\e66f";
}

.icon-help:before {
    content: "\e677";
}

.icon-prompt:before {
    content: "\e67b";
}

.icon-search:before {
    content: "\e67d";
}

.icon-stop:before {
    content: "\e67f";
}

.icon-success:before {
    content: "\e680";
}

.icon-delete-filling:before {
    content: "\e689";
}

.icon-help-filling:before {
    content: "\e68a";
}

.icon-success-filling:before {
    content: "\e68b";
}

.icon-prompt-filling:before {
    content: "\e68c";
}

.icon-loading:before {
    content: "\e676";
}

.icon-select:before {
    content: "\e67e";
}

.icon-add:before {
    content: "\e664";
}

.icon-arrow-down:before {
    content: "\e666";
}

.icon-arrow-up:before {
    content: "\e691";
}

.icon-arrow-right:before {
    content: "\e665";
}

.icon-arrow-left:before {
    content: "\e692";
}
